.contact__input,
.contact__textarea {
  height: 54px;
  width: 100%;
  font-family: "Quicksand", serif;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  line-height: 1.4;
  margin-bottom: 15px;
  background-color: #f2f3f7;
  border: none;
  outline: none;
}

.contact__textarea {
  resize: vertical;
  height: 130px;
}

.contact__button {
  cursor: pointer;
  background: #2c98f0;
  color: #fff;
  margin-bottom: 100px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  border-radius: 2px;
  padding: 8px 15px;
  border: none;
}